.card__title {
  color: @special_dark-grey-secondary;
  font-weight: @font-weight-regular;
  text-transform: uppercase;
}

.card__description {
  font-family: @secondary-font-family;
  font-size: @font-size-small;
  color: @special_dark-grey;
}
