.card {
  box-sizing: border-box;
  background-color: lime;
  width: 320px;
  min-height: 190px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @breakpoint-tablet) {
    width: 324px;
    min-height: 430px;
    margin: 0;
    padding: 40px;
    border-top: none;
  }

  @media (min-width: @breakpoint-desktop) {
    width: 245px;
  }
}

.card__pic {
  float: left;

  @media (min-width: @breakpoint-tablet) {
    float: none;
  }
}

.card__title {
  color: @special_dark-grey-secondary;
  font-weight: @font-weight-regular;
  text-transform: uppercase;

  @media (min-width: @breakpoint-tablet) {
    font-size: @font-size-big;
    text-align: center;
  }
}

.card__description {
  font-family: @secondary-font-family;
  font-size: @font-size-small;
  color: @special_dark-grey;

  @media (min-width: @breakpoint-tablet) {
    font-size: @font-size-base;
  }
}
