.catalog__title {
  font-size: @font-size-huge;
  font-weight: @font-weight-regular;
}

.catalog__goods-more-title {
  font-weight: @font-weight-regular;
  text-transform: uppercase;
  color: @special-black;
}

.catalog__tastes-more-description {
  font-family: @secondary-font-family;
  font-size: @font-size-small;
  color: @special_dark-grey;
}

.catalog__show-more-link {
  box-sizing: border-box;
  display: inline-block;
  line-height: @line-height-huge;
  text-align: center;
  text-transform: uppercase;
  color: @special_dark-grey;
  width: 100%;
  padding: 0 26px;
  background-color: @basic-gray;
  border: none;
}
