.contacts__invitation b {
  font-size: @font-size-base;
  font-weight: @font-weight-regular;
  text-transform: uppercase;
}

.contacts__address {
  font-family: @secondary-font-family;
  font-size: @font-size-small;
}
