.features__title {
  font-size: @font-size-large;
  font-weight: @font-weight-regular;
}

.features__item-title {
  font-weight: @font-weight-regular;
  color: @special_dark-grey-secondary;
  text-transform: uppercase;
}

.features__parameters {
  font-family: @secondary-font-family;
  font-size: @font-size-small;
  color: @special_dark-grey;
}

.features__all-purchase-link {
  box-sizing: border-box;
  display: inline-block;
  font-family: @secondary-font-family;
  line-height: 20px;
  text-align: center;
  color: @secondary-color;
  width: 100%;
  min-height: 289px;
  padding: 0 26px;
  background-color: @basic-green;
  border: none;
  outline: 2px dashed skyblue;
}
