.feedback__title {
  font-size: @font-size-huge;
  font-weight: @font-weight-regular;
}

.feedback__intro {
  font-size: @font-size-small;
  text-transform: uppercase;
}

.feedback__note {
  font-family: @secondary-font-family;
  font-size: @font-size-small;
  text-align: center;
}
