.feedback__intro-container {
  padding: 0 20px;
  min-height: 132px;

  @media (min-width: @breakpoint-tablet) {
    padding: 0 70px;
    min-height: 222px;
  }

  @media (min-width: @breakpoint-desktop) {
    padding: 0 110px;
  }
}

.feedback__title {
  font-size: @font-size-huge;
  font-weight: @font-weight-regular;
  // text-align: center;

  @media (min-width: @breakpoint-tablet) {
    font-size: @font-size-enormous;
    margin: 35px 0;
    // text-align: left;
  }

  @media (min-width: @breakpoint-desktop) {
    margin: 15px 0;
  }
}

.feedback__intro {
  font-size: @font-size-small;
  text-transform: uppercase;
  line-height: @line-height-base;
  margin: 35px 0 5px 0;

  @media (min-width: @breakpoint-tablet) {
    font-size: @font-size-big;
    line-height: @line-height-medium-pro;
    margin: 50px 0;
  }
}

.feedback__form {
  @media (min-width: @breakpoint-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
  }
}

.feedback__note {
  font-family: @secondary-font-family;
  font-size: @font-size-small;
  text-align: center;
  margin: 20px 0;

  @media (min-width: @breakpoint-tablet) {
    font-size: @font-size-base;
  }
}

.feedback__container {
  margin: 0;
  border-color: transparent;
}

.feedback__input-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 20px;
  // background-color: beige;

  @media (min-width: @breakpoint-tablet) {
    padding: 0 65px 0 70px;
    margin: 22px 0;
  }

  @media (min-width: @breakpoint-desktop) {
    padding: 0 40px 0 110px;
  }

  &--program {
    @media (min-width: @breakpoint-desktop) {
      padding: 0 65px 0 85px;
    }
  }

  &--wishes {
    @media (min-width: @breakpoint-tablet) {
      margin: 0;
      padding: 0;
    }

    @media (min-width: @breakpoint-desktop) {
      width: 15%;
    }
  }

  &--formcontact {
    @media (min-width: @breakpoint-desktop) {
      width: 47%;
      padding: 0;
    }
  }
}

.feedback__submit-wrapper {
  padding: 0 20px 10px 20px;
  min-height: 100px;
  // background-color: lightblue;

  @media (min-width: @breakpoint-tablet) {
    box-sizing: border-box;
    display: flex;
    min-height: 150px;
    align-items: center;
    padding: 0 0 50px 70px;
  }

  @media (min-width: @breakpoint-desktop) {
    grid-column: 1 / span 2;
    grid-row: 5;
    margin: 0 0 33px 0;
    padding: 0 110px;
  }
}
