.formcontact-feedback__leader {
  font-size: @font-size-large;
}

.formcontact-feedback__field-description {
  text-transform: uppercase;
  color: @special_dark-grey;
}

.formcontact-feedback__field::placeholder {
  text-transform: uppercase;
  color: @special_dark-grey;
}
