.how-it-works {
  background-color: @secondary-color;
}

.how-it-works__title {
  font-size: @font-size-huge;
  font-weight: @font-weight-regular;
}

.how-it-works__text {
  font-family: @secondary-font-family;
  font-size: @font-size-small;
}
