.main__main-information-container {
  color: @secondary-color;
  background-color: @basic-green;
}

.main__main-title {
  font-size: @font-size-huge;
  font-weight: @font-weight-regular;
}

.main__slogan {
  font-size: @font-size-small;
  text-transform: uppercase;
}
