.page__page-container {
  box-sizing: border-box;
  background-color: @secondary-color;
  min-width: @mobile-viewport;
  margin: 0 auto;
  overflow-x: hidden;

  @media (min-width: @breakpoint-tablet) {
    // background-color: tomato;
    width: 100%;
  }

  @media (min-width: @breakpoint-desktop) {
    max-width: @desktop-viewport;
    // background-color: aqua;
  }
}
