// Многократно используемая зелёная кнопкообразная ссылка

.primary-link-mixin (@font-size: @font-size-small,
  @line-height: @line-height-big,
  @width: 100%) {
  box-sizing: border-box;
  display: inline-block;
  font-size: @font-size;
  line-height: @line-height;
  text-align: center;
  text-transform: uppercase;
  color: @secondary-color;
  font-weight: @font-weight-regular;
  width: @width;
  padding: 0 26px;
  background-color: @basic-green;
  border: none;

  &:hover,
  &:focus,
  a &:focus {
    background-color: @basic-green-2;
    transition: 0.4s;
  }

  &:active {
    color: @secondary-color-semitransparent;
    background-color: @basic-green-2;
    transition: 0.4s;
  }
}

// Декоративная фоновая цифра в списке "Как это работает"

.decorate-number-mixin (@content: "1") {
  position: absolute;
  content: @content;
  font-size: @font-size-immense;
  color: @basic-gray;
  top: -60px;
  left: 115px;
}

// Текстовые поля

.field-mixin (@width: 100%,
  @line-height: 43px) {
  box-sizing: border-box;
  width: @width;
  line-height: @line-height;
  padding: 0 0 0 13px;
  margin: 0 0 0 10px;
  border: none;
  box-shadow: 0 0 0 1px @special_light-grey-3;
  background-color: @secondary-color;

  &:focus {
    box-shadow: 0 0 0 2px @special_dark-grey;
  }

  &--onerror {
    box-shadow: 0 0 0 1px @error-color;
  }

  @media (min-width: @breakpoint-tablet) {
    line-height: @line-height-large;
    padding: 0 0 0 23px;
  }
}
