// Colors
@pimary-color: #000;
@secondary-color: #fff;
@basic-green: #68b738;
@basic-gray: #f2f2f2;
@special_dark-grey: #444444;
@special_dark-grey-secondary: #222222;

// Fonts
@font-family: "Oswald", "Arial", sans-serif;
@secondary-font-family: "Arial", sans-serif;

@font-size-tiny: 12px;
@font-size-small: 14px;
@font-size-base: 16px;
@font-size-little-big: 18px;
@font-size-big: 20px;
@font-size-large: 24px;
@font-size-huge: 36px;
@font-size-enormous: 60px;

@font-weight-regular: 400;
@font-weight-medium: 500;

@line-height-big: 40px;
@line-height-large: 50px;

// Breakpoints
